{{ define "main" }}
<article {{ if .Params.language }}lang="{{ .Params.language }}"{{ end }}>
<header>
	<h1>{{ .Title }}</h1>
	<time>
		{{ .Lastmod.Format "2006-01-02" }}
	</time>
</header>
{{ .Content }}
<footer>
<a id="license" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
	<i class="fa fa-cc-cc" aria-hidden="true"></i><i class="fa fa-cc-by" aria-hidden="true"></i><i class="fa fa-cc-sa" aria-hidden="true"></i><span class="sr-only">CC-BY-SA license</span>
</a>
</footer>
</article>
{{ with .PrevInSection }}
<a id="prev" rel="prev" href= "{{ .Permalink }}">&lt;&lt; prev</a>
{{ end }}
{{ with .NextInSection }}
<a id="next" rel="next" href= "{{ .Permalink }}">next &gt;&gt;</a>
{{ end }}
{{ if (or .PrevInSection .NextInSection) }}
<br>
{{ end }}
{{ end }}
