<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ "style.css" | relURL }}" type="text/css" charset="utf-8" />
	<title>404 ;-;</title>
</head>
<body>
		<div style="padding:1.5em 26px 0;">
			<center>
				<h1>404</h1>
			<img src="/pix/kittycry.gif">
			<br>
			i can't find that i'm sorry ;-;
			</center>
		</div>
<footer 
	style="background-image:url(/pix/flowers.gif);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:bottom;
	height:4.5em;">
<a href="/index.html" style="color:#f55072;">go back home</a>
</footer>
</body>
</html>
