html {
	background:#fccde5 url(/pix/bg.webp) bottom repeat-x fixed;
}

body {
	max-width:80ex;
	margin: auto;
	line-height:1.6;
	font-size:12pt;
	color:#57565b;
}

#wrapper {
	background-color: white;
	border:5px double #f33699;
	border-bottom:none;
	padding:0.5em 1.5em;
	border-top-left-radius:0.75em;
	border-top-right-radius:0.75em;
}

.skip {
	position:absolute;
	left: -10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.skip:focus {
	position:static;
	width:auto;
	height:auto;
}

nav menu li {
	display: inline;
}

nav menu li:before {
	content:" | ";
}

nav menu li:first-child:before {
	content:"";
}

menu {
	padding: 0;
	margin: 0;
	text-align:center;
}

h1, h2, h3, pre {
	line-height:1;
}

a, a:visited {
	color:#f33699;
}

#title {
	margin:0;
	text-align:center;
}

footer {
	text-align:center;
}

footer a, footer a:visited {
	color:inherit;
}

img {
	max-width:100%;
	border:1px solid black;
	margin:0.3ex 0;
	vertical-align:middle;
}

#badges img, .gif {
	vertical-align:baseline;
	margin:0;
	border:none;
}

#title img {
	margin:auto;
	border:none;
}

.two-col {
	max-width:50%;
	display:inline-block;
	vertical-align:top;
}

#next {
	float:right;
}

hr {
	height:11px;
	width:574px;
	border:none;
	background:url(pix/divider.gif);
}

.border-image {
	border:none;
	margin:0;
}

.highlight pre {
	padding:0.5em;
	border-radius:0.5em;
	border: #57565B solid 1px; 
}

#post-list {
	list-style-type: none;
	padding: 0;
	display: inline-flex;
	flex-direction: column;
	align-items:flex-start;
	margin:0;
}

#post-list li {
	flex-shrink:1;
	display: inline-block;
}
